# .dockerignore

.git
.gitignore
.venv
venv/
env/
**pycache**/
_.pyc
_.pyo
_.pyd
.Python
_.so
_.egg
_.egg-info/
dist/
build/
src/node_modules/
.env
.env.local
_.log
db.sqlite3
uploads/
staticfiles/
.vscode/
.idea/
_.swp
\*.swo
.DS_Store
