<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <!-- ! Hide app brand if navbar-full -->
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'index' %}" class="app-brand-link br-30 active open rounded">
      <div class="text-capitalize demo menu-text fw-bold">{% get_theme_variables 'template_name' %}</div>
      <div class="app-brand-divider"></div>
      <div class="">
        opération de recensement
      </div>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>
  {% endif %}


  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

    <!-- Accueil -->
    <li class="menu-item {% if 'index' == request.resolver_match.url_name or '/dashbord/' in request.path %}active open{% endif %}">
      <a href="/" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div class="text-truncate" data-i18n="Dashboards">Accueil</div>
      </a>
    </li>
    <!-- Stats -->
    <li class="menu-item {% if '/stats' == request.resolver_match.url_name or '/stats' in request.path %}active open{% endif %}">
      <a href="/stats" class="menu-link">
        <i class="menu-icon tf-icons bx bx-pie-chart-alt"></i>
        <div class="text-truncate" data-i18n="Dashboards">Statistiques</div>
      </a>
    </li>
    <!-- Consultation -->
    <li class="menu-item {% if '/consultation' == request.resolver_match.url_name or '/consultation' in request.path %}active open{% endif %}">
      <a href="/consultation" class="menu-link">
        <i class="menu-icon tf-icons bx bx-task"></i>
        <div class="text-truncate" data-i18n="Dashboards">Consultation</div>
      </a>
    </li>
    <!-- Exercices -->
    <li class="menu-item {% if '/exercice/' == request.resolver_match.url_name or '/exercice/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div class="text-truncate" data-i18n="Form Elements">Exercices</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/exercice/exercices/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:exercice_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Listes</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Immeuble -->
    <li class="menu-item {% if '/immeuble/' == request.resolver_match.url_name or '/immeuble/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-building"></i>
        <div class="text-truncate" data-i18n="Form Elements">Immeuble</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/immeuble/immeubles/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:immeuble_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Listes</div>
          </a>
        </li>
        <li class="menu-item {% if '/immeuble/recensements/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:recensement_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Rencensements</div>
          </a>
        </li>
        <li class="menu-item {% if '/elementdescription/elementdescriptions/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:elementdescription_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Eléments de batisse</div>
          </a>
        </li>
         <li class="menu-item {% if '/revetementint/revetementints/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:revetementint_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Revetements Intérieures</div>
          </a>
        </li>
         <li class="menu-item {% if '/revetementext/revetementexts/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:revetementext_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Revetements Extérieures</div>
          </a>
        </li>
        <li class="menu-item {% if '/typeconstruction/typeconstructions/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:typeconstruction_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Type de construction</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Bailleur -->
    <li class="menu-item {% if '/bailleur/' == request.resolver_match.url_name or '/bailleur/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div class="text-truncate" data-i18n="Form Elements">Bailleur</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if 'bailleur/bailleurs/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:bailleur_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Listes</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Locataire -->
    <li class="menu-item {% if '/locataire/' == request.resolver_match.url_name or '/locataire/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div class="text-truncate" data-i18n="Form Elements">Locataire</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/locataire/locataires/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:locataire_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Listes des locataires</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Collecte -->
    <li class="menu-item {% if '/collecte/' == request.resolver_match.url_name or '/collecte/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-file"></i>
        <div class="text-truncate" data-i18n="Form Elements">Collecte</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/collecte/add/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:collecte' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Remplissage</div>
          </a>
        </li>
        <li class="menu-item {% if '/collecte/list/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:collecte' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Listes des fiches</div>
          </a>
        </li>
        <li class="menu-item {% if '/piece/pieces/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:piece_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Pièces à collecter</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Contrat -->
    <li class="menu-item {% if '/contrat/' == request.resolver_match.url_name or '/contrat/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-file"></i>
        <div class="text-truncate" data-i18n="Form Elements">Contrat</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/contrat/add/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:contrat' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Ajouter</div>
          </a>
        </li>
        <li class="menu-item {% if '/contrat/list/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:contrat_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Listes</div>
          </a>
        </li>
        <li class="menu-item {% if '/contrat/types/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:typecontrat_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">types de contrat</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Localisation -->
    <li class="menu-item {% if '/localisation/' == request.resolver_match.url_name or '/localisation/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-map"></i>
        <div class="text-truncate" data-i18n="Form Elements">Localisation</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/localisation/localisations/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:localisation_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Listes</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Logés -->
    <li class="menu-item {% if '/occupants/' == request.resolver_match.url_name or '/occupants/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div class="text-truncate" data-i18n="Form Elements">Occupants</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/occupant/occupants/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:occupant_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Listes</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Avenants -->
    <li class="menu-item {% if '/avenant/' == request.resolver_match.url_name or '/avenant/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div class="text-truncate" data-i18n="Form Elements">Avenants</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/avenant/avenants/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:avenant_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Listes</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Non Mandatement -->
    <li class="menu-item {% if '/non_mandatement/' == request.resolver_match.url_name or '/non_mandatement/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-folder"></i>
        <div class="text-truncate" data-i18n="Form Elements">Non mandatement</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/non_mandatement/non_mandatements/' == request.path %}active{% endif %}">
          <a href="{% url 'baux:non_mandatement_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Listes</div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
