{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Bailleur{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
        
    <div class="card p-3">
        <h1>Enregistrement des Bailleurs </h1>

        <div >
            <form method="post" action="{% url 'baux:bailleur' %}">
                <!--{% csrf_token %} -->
                
                {% if not form.instance.id %}

                    {% include 'baux/saveBailleur.html' %}

                {% endif %}

                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field , errors in form.errors.items %}
                                <li>{{ field }} : {{ errors|striptags }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                
            </form>
        </div>
    </div>

{% endblock %}