{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Bailleur_list{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="card mt-3 p-3">
        <h1>Listes des Bailleurs</h1>
        <!-- listing class="container-fluid" -->
        <div>
            <table class="table table-sm">
                <tr>
                    <th>Nom du Bailleur</th>
                    <th>Identifiant NIU </th>
                    <th>Representant</th>
                    <th>Contact</th>
                    <th>Action</th>
                </tr>

                {% for score in BailleursList %}
                <tr>
                    {% if form.instance.id == score.id %}
                    {% include 'baux/saveBailleur.html' %}
                    {% else %}
                    <td>{{ score.Nom_prenom }} </td>
                    <td>{{ score.NIU }}</td>
                    <td>{{ score.Nom_Prenom_Representant }}</td>
                    <td>{{ score.Telephone }}</td>
                    <td>
                        <div class="dropdown">
                          <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item primary" href="{% url 'baux:bailleur_update' score.id %}"><i class="bx bx-edit-alt me-1"></i>Modifier</a>
                            <a href="{% url 'baux:bailleur_delete' score.id %}" class="dropdown-item btn-success" data-toggle="modal" data-target="#exampleModal"><i class="bx bx-trash me-1"></i>Supprimer</a>
                          </div>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}

            </table>

        </div>
    </div>
{% endblock %}