{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Bailleur{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
        
    <div class="card p-3">
        <h1>
            {% if is_update %} 
                Mise à jour du bailleur "{{ form.instance }}" 
            {% else %}  
                Enregistrement des Bailleurs 
            {% endif %}
        </h1>

        <div >
            <form method="post" action="{% if is_update %}{% url 'baux:bailleur_update' form.instance.id %}{% else %}{% url 'baux:bailleur' %}{% endif %}">
                <!--{% csrf_token %} -->

                {% include 'baux/saveBailleur.html' %}

                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field , errors in form.errors.items %}
                                <li>{{ field }} : {{ errors|striptags }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                
            </form>
        </div>
    </div>

{% endblock %}