{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Contrat{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="card p-3">

        <h1>Enregistrement d'un contrat de bail administratif</h1>

        <div class="">
            <form method="post" action="{% url 'baux:contrat' %}">
                {% csrf_token %}

                {% if not form.instance.id %}

                {% include 'baux/saveContrat.html' %}

                {% endif %}

            </form>

        </div>

    </div>

{% endblock %}