{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Contrat{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="card p-3">

        <h1>
            {% if is_update %} 
                Mise à jour du contrat "{{ form.instance }}" 
            {% else %}  
                Enregistrement d'un contrat de bail administratif 
            {% endif %}
        </h1>
        <form method="post" action="{% if is_update %}{% url 'baux:contrat_update' form.instance.id %}{% else %}{% url 'baux:contrat' %}{% endif %}">
            {#% if not form.instance.id %#}

            {% crispy form %}

            {#% endif %#}

            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field , errors in form.errors.items %}
                            <li>{{ field }} : {{ errors|striptags }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </form>

    </div>
    <!-- immeuble modal -->
    <div class="modal fade" id="addImmeubleModal" tabindex="-1" aria-labelledby="addImmeubleModalLabel">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
            <form id="immeubleForm">
                {% csrf_token %}
                <div class="modal-header">
                <h5 class="modal-title" id="addImmeubleModalLabel">Ajouter un immeuble</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="immeuble-form-content">Chargement...</div>
                </div>
                <!--div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div-->
            </form>
            </div>
        </div>
    </div>
    <!-- bailleur modal -->
    <div class="modal fade" id="addBailleurModal" tabindex="-1" aria-labelledby="addBailleurModalLabel">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
            <form id="bailleurForm">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="addBailleurModalLabel">Ajouter un bailleur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="bailleur-form-content">Chargement...</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
            </div>
        </div>
    </div>


{% endblock %}