{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Contrat{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="card p-3">

        <h1>
            {% if is_update %} 
                Mise à jour du contrat "{{ form.instance }}" 
            {% else %}  
                Enregistrement d'un contrat de bail administratif 
            {% endif %}
        </h1>
        <form method="post" action="{% if is_update %}{% url 'baux:contrat_update' form.instance.id %}{% else %}{% url 'baux:contrat' %}{% endif %}">
            {% if not form.instance.id %}

            {% crispy form %}

            {% endif %}

            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field , errors in form.errors.items %}
                            <li>{{ field }} : {{ errors|striptags }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </form>

    </div>

{% endblock %}