{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Liste des immeubles{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="card p-3">
        
        <h1>Listes des immeubles enregistrés</h1>

        <div class="container-flex">
            <table class="table table-sm">
                <tr>
                    <th>Designation</th>
                    <th>proprietaire </th>
                    <th>Reference Fonciere</th>
                    <th>Type</th>
                    <th>localisation</th>
                    <th>Action</th>
                </tr>
                {% for score in immeubleList %}
                <tr>
                        {% if form.instance.id == score.id %}
                        {% include 'baux/saveimmeuble.html' %}
                        {% else %}
                            <td>{{ score.Designation}} </td>
                            <td>{{ score.Nom_prenom_proprietaireTF }}</td>
                            <td>{{ score.Reference_TF }}</td>
                            <td>{{ score.Norme }}</td>
                            <td>{{ score.Localisation }}</td>
                            <td>
                                <div class="dropdown">
                                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item primary" href="{% url 'baux:immeuble_update' score.id %}"><i class="bx bx-edit-alt me-1"></i>Modifier</a>
                                    <a href="{% url 'baux:immeuble_delete' score.id %}" class="dropdown-item btn-success" data-toggle="modal" data-target="#exampleModal"><i class="bx bx-trash me-1"></i>Supprimer</a>
                                  </div>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}