{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Localisation{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
<h1>Enregistrement d'une localisation </h1>

<!-- enregistrement -->

<div>
    <form method="post" action="{% url 'baux:localisation' %}">
        {% csrf_token %}

        <!-- enregistrement -->
        {% if not form.instance.id %}

        {% include 'baux/saveLocalisation.html' %}

        {% endif %}

        <!-- listing -->
        <div class="container-fluid">
            <table class="table table-sm">
                <tr>
                    <th>Region</th>
                    <th>Departement </th>
                    <th>Arrondissement</th>
                    <th>Quartier</th>
                    <th>Action</th>
                </tr>

                {% for score in localisationList %}
                   <tr>
                        {% if form.instance.id == score.id %}
                        {% include 'baux/saveLocalisation.html' %}
                        {% else %}
                            <td>{{ score.arrondissement.departement.Region}} </td>
                            <td>{{ score.arrondissement.departement }}</td>
                            <td>{{ score.arrondissement }}</td>
                            <td>{{ score.Quartier }}</td>

                            <td>
                                <button formnovalidate class="btn btn-primary" name="edit" value="{{ score.id }}">Edit</button>
                                <button formnovalidate class="btn btn-danger" name="delete" value="{{ score.id }}">Delete</button>
                            </td>
                        {% endif %}
                     </tr>
                {% endfor %}

            </table>

        </div>

    </form>

</div>


<!--div class = "container-fluid justify-content-center">
    <div class="form-group row">
        <div class="col-md-6 align-self-start">
            <a href="{{ request.META.HTTP_REFERER }}"> &lt;&lt; Retouner à la page précedente</a>
        </div>
        <div class="col-md-6 align-self-end">
            <a href="{% url 'baux:Home' %}">Revenir au Menu principal</a>
        </div>
    </div>
</div-->

{% endblock %}