{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Liste des locataires{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="card p-3">
        
        <h1>Liste des locataires </h1>

        <div>

            <table class="table table-sm">
                <tr>
                    <th>Intitule</th>
                    <th>NIU</th>
                    <th>Representant</th>
                    <th>Num_Cni</th>
                    <th>Date CNI</th>
                    <th>Action</th>
                </tr>
                {% for locataire in locatairesList %}
                <tr>
                    {% if form.instance.id == locataire.id %}
                        {% include 'baux/saveLocataire.html' %}
                    {% else %}
                        <td>{{ locataire.Intitule }} </td>
                        <td>{{ locataire.NIU }}</td>
                        <td>{{ locataire.Nom_Prenom_Representant }}</td>
                        <td>{{ locataire.Num_Cni}}</td>
                        <td>{{ locataire.Date_delivrance_cni }}</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item primary" href="#">
                                    <i class="bx bx-edit-alt me-1"></i>Modifier
                                  </a>
                                  <a href="#" class="dropdown-item btn-success" data-toggle="modal" data-target="#exampleModal">
                                    <i class="bx bx-trash me-1"></i>Supprimer
                                  </a>
                                </div>
                            </div>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}