{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Locataire List{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
     
    <div class="card mt-3 p-3">
        <h1>Liste des locataires </h1>
        <!-- listing class="container-fluid" -->
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Intitule</th>
                    <th>NIU</th>
                    <th>Representant</th>
                    <th>Num_Cni</th>
                    <th>Date CNI</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for score in locatairesList %}
                <tr>
                    {% if form.instance.id == score.id %}
                        {% include 'baux/saveLocataire.html' %}
                    {% else %}
                        <td>{{ score.Intitule }} </td>
                        <td>{{ score.NIU }}</td>
                        <td>{{ score.Nom_Prenom_Representant }}</td>
                        <td>{{ score.Num_Cni}}</td>
                        <td>{{ score.Date_delivrance_cni }}</td>
                        <td class="rounded-end-bottom">
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                <div class="dropdown-menu">
                                    <button formnovalidate class="btn d-flex btn-primary dropdown-item"  name="edit" value="{{ score.id }}"><i class="bx bx-edit-alt me-1"></i> Edit</button>
                                    <button formnovalidate class="btn d-flex btn-success dropdown-item"  name="delete" value="{{ score.id }}"><i class="bx bx-trash me-1"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    {% endif %}
                </tr>
              {% endfor %}
            </tbody>
        </table>
    <div>

{% endblock %}