{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Localisation{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="card p-3">
        <h1>
            {% if is_update %} 
                Mise à jour de la localisation : "{{ form.instance }}" 
            {% else %}  
                Enregistrement d'une localisation
            {% endif %}
        </h1>

        <!-- enregistrement -->

        <div>
            <form method="post" action="{% if is_update %}{% url 'baux:localisation_update' form.instance.id %}{% else %}{% url 'baux:localisation' %}{% endif %}">
                {#% csrf_token %#}

                {% include 'baux/saveLocalisation.html' %}

            </form>

        </div>
    </div>
{% endblock %}