{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Localisation{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="card mt-3 p-3">
        <h1>Liste des localisations </h1>
        <!-- listing class="container-fluid" -->
        <div >
            <table class="table table-sm">
                <tr>
                    <th>Region</th>
                    <th>Departement </th>
                    <th>Arrondissement</th>
                    <th>Quartier</th>
                    <th>Action</th>
                </tr>

                {% for score in localisationList %}
                   <tr>
                        {% if form.instance.id == score.id %}
                        {% include 'baux/saveLocalisation.html' %}
                        {% else %}
                            <td>{{ score.arrondissement.departement.Region}} </td>
                            <td>{{ score.arrondissement.departement }}</td>
                            <td>{{ score.arrondissement }}</td>
                            <td>{{ score.Quartier }}</td>

                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item primary" href="#">
                                        <i class="bx bx-edit-alt me-1"></i>Modifier
                                      </a>
                                      <a href="#" class="dropdown-item btn-success" data-toggle="modal" data-target="#exampleModal">
                                        <i class="bx bx-trash me-1"></i>Supprimer
                                      </a>
                                    </div>
                                </div>
                            </td>
                        {% endif %}
                     </tr>
                {% endfor %}

            </table>

        </div>
    </div>

{% endblock %}