{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Locataires{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="card p-3">
        <h1> 
            {% if is_update %} 
                Mise à jour du locataire "{{ form.instance }}" 
            {% else %}  
                Enregistrement des administrations signataires
            {% endif %}
        </h1>
        <form method="post" action="{% if is_update %}{% url 'baux:locataire_update' form.instance.id %}{% else %}{% url 'baux:locataire' %}{% endif %}">
            {% csrf_token %}
            <!-- enregistrement -->
            {% include 'baux/saveLocataire.html' %}
        </form>
    </div>

{% endblock %}