{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Localisation{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="card mt-3 p-3">
        <h1>Liste des logés </h1>
        <!-- listing class="container-fluid" -->
        <div class="container-fluid">
            <table class="table table-sm">
                <tr>
                    <th>Designation</th>
                    <th>Noms et prenoms</th>
                    <th>Administration_tutelle</th>
                    <th>Matricule</th>
                    <th>Telephone</th>
                    <th>Action</th>
                </tr>
                {% for score in logesList %}
                <tr>
                        {% if form.instance.id == score.id %}
                        {% include 'baux/saveimmeuble.html' %}
                        {% else %}
                            <td>{{ score.Designation}} </td>
                            <td>{{ score.Nom_Prenom }}</td>
                            <td>{{ score.Administration_tutelle }}</td>
                            <td>{{ score.Matricule }}</td>
                            <td>{{ score.Telephone }}</td>
                            <td>
                                <button formnovalidate class="btn btn-primary" name="edit" value="{{ score.id }}">Edit</button>
                                <button formnovalidate class="btn btn-danger" name="delete" value="{{ score.id }}">Delete</button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


<!--div class = "container-fluid justify-content-center">
    <div class="form-group row">
        <div class="col-md-6 align-self-start">
            <a href="{{ request.META.HTTP_REFERER }}"> &lt;&lt; Retouner à la page précedente</a>
        </div>
        <div class="col-md-6 align-self-end">
            <a href="{% url 'baux:Home' %}">Revenir au Menu principal</a>
        </div>
    </div>
</div-->

{% endblock %}