{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Localisation{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="card mt-3 p-3">
        <h1>Liste des Occupants </h1>
        <!-- listing class="container-fluid" -->
        <div class="container-fluid">
            <table class="table table-sm">
                <tr>
                    <th>Noms et prenoms</th>
                    <th>Administration_tutelle</th>
                    <th>Matricule</th>
                    <th>Telephone</th>
                    <th>Action</th>
                </tr>
                {% for score in OccupantsList %}
                <tr>
                        {% if form.instance.id == score.id %}
                        {% include 'baux/saveimmeuble.html' %}
                        {% else %}
                            <td>{{ score.Nom_Prenom }}</td>
                            <td>{{ score.Administration_tutelle }}</td>
                            <td>{{ score.Matricule }}</td>
                            <td>{{ score.Telephone }}</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item primary" href="#">
                                        <i class="bx bx-edit-alt me-1"></i>Modifier
                                      </a>
                                      <a href="#" class="dropdown-item btn-success" data-toggle="modal" data-target="#exampleModal">
                                        <i class="bx bx-trash me-1"></i>Supprimer
                                      </a>
                                    </div>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}