{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Occupant{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="card p-3">
        <h1>
            {% if is_update %} 
                Mise à jour de l'occupant "{{ form.instance }}" 
            {% else %}  
                Enregistrement d'un Occupant
            {% endif %}
        </h1>

        <!-- enregistrement -->

        <div class="">
            <form method="post" action="{% if is_update %}{% url 'baux:occupants_update' form.instance.id %}{% else %}{% url 'baux:occupants' %}{% endif %}">
                <!-- enregistrement -->

                {% crispy form %}

                <input type="submit" class="d-grid gap-2 col-4 mx-auto btn btn-primary mb-3" name="save" value="Enregistrer">
                
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field , errors in form.errors.items %}
                                <li>{{ field }} : {{ errors|striptags }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </form>

        </div>
    </div>

{% endblock %}