{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Occupant{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="card p-3">
        <h1>Enregistrement d'un Occupant</h1>

        <!-- enregistrement -->

        <div class="">
            <form method="post" action="{% url 'baux:occupants' %}">
                <!-- enregistrement -->
                {% if not form.instance.id %}

                {% crispy form %}

                <input type="submit" class="d-grid gap-2 col-4 mx-auto btn btn-primary mb-3" name="save" value="Enregistrer">

                {% endif %}
                
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field , errors in form.errors.items %}
                                <li>{{ field }} : {{ errors|striptags }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </form>

        </div>
    </div>

{% endblock %}