{% load crispy_forms_tags %}

{% crispy form %}

  <button class="d-grid gap-2 col-4 mx-auto btn btn-primary mb-3" name="save" value="{{ score.id }}">Enregistrer</button>

<!-- 
  <div class="form-group row">
    <div class="col-md-2">
      {{ form.Designation|as_crispy_field }}
    </div>
    <div class="col-md-2">
      {{ form.Reference_TF|as_crispy_field }}
    </div>
    <div class="col-md-2">
      {{ form.Nom_prenom_proprietaireTF|as_crispy_field }}
    </div>
    <div class="col-md-2">
      {{ form.Date_signatureTF|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-2">
      {{ form.Localisation|as_crispy_field }}
    </div>
  </div>

  <div class="form-group row">
    <div class="form-group col-md-2 mb-2">
      {{ form.Superficie|as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-2">
      {{ form.Date_Construction|as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-2">
      {{ form.Type_immeuble|as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-2">
      {{ form.Norme|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-2">
      {{ form.Adresse|as_crispy_field }}
    </div>
  </div>

  <div class="form-group row">
    <div class="form-group col-md-2 mb-2">
      {{ form.Coordonee_gps_latitude|as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-2">
      {{ form.Coordonee_gps_longitude|as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-2">
      {{ form.Coordonee_gps_altitude|as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-2">
      {{ form.Coordonee_gps_Position|as_crispy_field }}
    </div>
  </div>


  <div class="row col-6 mb-3"> {{ form.Description|as_crispy_field }}</div>

 -->