{% load crispy_forms_tags %}

{% crispy form%}
  
<button class="d-grid gap-2 col-4 mx-auto btn btn-primary mb-3" name="save" value="{{ score.id }}">Enregistrer</button>

  <!-- 
  <div class="form-group row">
    <div class="col-md-4">
      {{ form.pays|as_crispy_field }}
    </div>
    <div class="col-md-4">
      {{ form.arrondissement|as_crispy_field }}
    </div>
    <div class="col-md-4">
      {{ form.Quartier|as_crispy_field }}
    </div>
  </div>

   <div class="row mt-1 mb-3"> {{ form.Observation|as_crispy_field }}</div>


   -->
