{% load crispy_forms_tags %}

  <div class="form-floating row p-3 pt-0">
    <Fieldset class="line__text border p-2 pt-4">
      <Legend class="">
        Elements du contrat
      </Legend>
      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.Bailleur|as_crispy_field }}
          <a class="btn btn-success mt-2" href="{% url 'baux:bailleur' %}"> Nouveau </a> 
        </div>
        <div class="form-group col-md-6">
          {{ form.Locataire|as_crispy_field }}
          <a class="btn btn-success" href="{% url 'baux:locataire' %}"> Nouveau </a> 
        </div>
        <div class="form-group col-md-6">
          {{ form.Immeubles|as_crispy_field }}
          <a class="btn btn-success mt-2" href="{% url 'baux:immeuble' %}"> Nouveau </a> 
        </div>
      </div>
    </Fieldset>
  </div>

  {% crispy form %}
  <div class="d-grid gap-2 col-4 mx-auto">
    <button class="btn btn-primary mt-1 mb-3" name="save" value="{{ score.id }}">Enregistrer</button>
  </div>

  <!--div class="form-group row">
    <div class="col-md-2">
      {{ form.Duree_Contrat|as_crispy_field }}
    </div>
    <div class="col-md-2">
      {{ form.Signataire|as_crispy_field }}
    </div>
    <div class="col-md-2">
      {{ form.Date_Signature|as_crispy_field }}
    </div>
    <div class="col-md-2">
      {{ form.Date_Debut|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-2">
      {{ form.Ref_contrat|as_crispy_field }}
    </div>
  </div>


  <div class="form-group row">
    <div class="col-md-2">
      {{ form.Periodicite_Reglement|as_crispy_field }}
    </div>
    <div class="col-md-2">
      {{ form.Type_location|as_crispy_field }}
    </div>
    <div class="col-md-2">
      {{ form.Nom_CF|as_crispy_field }}
    </div>
    <div class="col-md-2">
      {{ form.Date_visa_CF|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-2">
      {{ form.Montant_TTC_Mensuel|as_crispy_field }}
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2">
      {{ form.Montant_Charges_Mensuel|as_crispy_field }}
    </div>
    <div class="col-md-2">
      {{ form.Montant_Nap_Mensuel|as_crispy_field }}
    </div>
    <div class="col-md-2">
      {{ form.Banque|as_crispy_field }}
    </div>
    <div class="col-md-2">
      {{ form.Compte_Bancaire|as_crispy_field }}
    </div>
  </div>

  <div class="row col-6 mb-3"> {{ form.observation|as_crispy_field }}</div-->
