{% load static %}

<!--Core Javascript-->
<script src="{% static 'vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'vendor/js/menu.js' %}"></script>
<script src="{% static 'vendor/js/functions.js' %}"></script>
<!--script src="{% static 'vendor/js/accessoires.js' %}"></script-->
<!--script src="{% static 'vendor/js/modal.js' %}"></script-->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/contrat.js' %}"></script>
<script src="{% static 'js/type_contrat.js' %}"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
