{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Modification mot de passe{% endblock %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/pages-account-settings-account.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="nav-align-top">
      <ul class="nav nav-pills flex-column flex-md-row mb-6 gap-2 gap-lg-0">
        <li class="nav-item"><a class="nav-link " href="{% url 'user_profile' %}"><i class="ri-group-line me-1_5"></i>Profile</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'user_password_update' %}"><i class="ri-lock-line me-1_5"></i>Mot de passe</a></li>
      </ul>
    </div>
    <div class="card mb-6">
      <div class="card-body pt-0">
        <form id="formAccountSettings" method="POST" onsubmit="return false" action="{% url 'user_profile' %}">
          {% csrf_token %}
          <div class="row mt-1 g-5">
            <div class="col-md-6">
              <div class="form-floating form-floating-outline">
                <input class="form-control" type="password" id="password" name="password" value=""
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" autofocus/>
                <label for="password">Nouveau mot de passe</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating form-floating-outline">
                <input class="form-control" type="password" name="confirm_password" id="confirm_password" value=""
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" autofocus/>
                <label for="confirm_password">Confirmation</label>
              </div>
            </div>
          </div>
          <div class="mt-6">
            <button type="submit" class="btn btn-primary me-3">Enregistrer</button>
          </div>
        </form>
      </div>
      <!-- /Account -->
    </div>
  </div>
</div>
{% endblock %}
