<!-- layout for other fields -->
<div class="d-flex justify-content-evenly flex-wrap">

  <div id="{{ list_id }}" class="flex-row gap-3 list-group flex-wrap" data-model="{{ model }}">
    {% for choice in choices %}
      <label class="d-flex align-items-center gap-2 dynamic-option">
        <input
          type="checkbox"
          name="{{ checkbox_name }}"
          value="{{ choice.pk }}"
          class="form-check-input dynamic-check"
          {% if choice.libelle == selected %}checked{% endif %}
        >
        <span class="fw-bold">{{ choice.libelle }}</span>
      </label>
    {% endfor %}
    <input type="hidden" name="{{ hidden_name }}" id="{{ hidden_id }}">
  </div>

  <!-- simple input for form -->
  <div class="ps-2 d-flex" id="{{ add_wrapper_id }}">
    <form action="" method="POST" class="ps-2 d-flex" id="main-form">
      {% csrf_token %}
      <input type="text" class="form-control form-control-sm" placeholder="Autre ..." id="{{ new_input_id }}">
      <button type="button" class="btn btn-outline-primary btn-sm" id="{{ add_btn_id }}">+</button>
    </form>
  </div>

</div>
