{% load crispy_forms_tags %}
{% if variant == "left_label" %}
  <div class="d-flex align-items-center mb-2">
    <label for="{{ field.id_for_label }}" class="fw-bold me-2 {{ label_class }}">{{ field.label }} :</label>
    {{ field }}
  </div>
{% elif variant == "inline_label" %}
  <div class="form-floating mb-2">
    {{ field }}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  </div>
{% elif variant == "html_only" %}
  {# Render nothing, only the field's HTML is needed #}
  {# there is no field object to render, just render and html field with label, name, id, etc. #}
  <div class="d-flex align-items-center mb-2">
    <label for="{{ input_id }}" class="fw-bold me-2 {{ label_class }}" style="{{ label_style }}">{{ input_label }} :</label>
    {# if input_type is date spcify the style value :  width: 35% !important; #}
    <input type="{{ input_type }}"
      style="{% if input_type == 'date' %}width: 150px !important{% endif %} {{ style }}"
      class="form-control" id="{{ input_id }}" name="{{ input_name }}" {{ settings }}>
  </div>
{% elif variant == "html_no_label" %}
  {# Render nothing, only the field's HTML is needed #}
  <div class="d-flex align-items-center">
    <input type="{{ input_type }}" style="{{ style }}" class="form-control" id="{{ input_id }}" name="{{ input_name }}" {{ settings }}>
  </div>
{% elif variant == "html_text_area" %}
  {# Render nothing, only the field's HTML is needed #}
  <div class="d-flex align-items-center">
    {% if input_label %}
      <label for="{{ input_id }}" class="fw-bold w-20 text-start me-2 {{ label_class }}">{{ input_label }} :</label>
    {% endif %}
    <textarea class="form-control" id="{{ input_id }}" style="{{ style }}" name="{{ input_name }}" rows="3"></textarea>
  </div>
{% elif variant == "html_list" %}
  {# Render the html list directly with label #}
  <div class="d-flex align-items-center mb-2">
    <label class="fw-bold me-2 {{ label_class }}" style="{{ label_style }}">{{ list_label }} :</label>
    {# select option list #}
    {# the list must be searchable, we done it with select2 in the js #}
    <select class="form-select" style="{{ style }}" id="{{ list_id }}" {{ settings }}>
      {% for option in list_options %}
        <option value="{{ option.id }}">{{ option.name }}</option>
      {% endfor %}
    </select>
  </div>
{# baux/widgets/field_widget.html #}
{% elif variant == "html_list_ajax" %}
  <div class="d-flex align-items-center mb-2">
    {% if list_label %}
      <label class="fw-bold me-2 {{ label_class }}" style="{{ label_style }}">
        {{ list_label }} :
      </label>
    {% endif %}
    <select class="form-select select2-ajax"
      style="{{ style }}"
      id="{{ list_id }}"
      name="{{ list_id }}"
      data-ajax-url="{{ list_api_url }}"
      data-ajax-placeholder="{{ placeholder }}"
      {{ settings }}>
    </select>
  </div>
{% elif variant == "html_simple_list" %}
  {# Render the html list directly with label #}
  {# the list is a tuple so just render it with select #}
  <div class="d-flex align-items-center mb-2">
    <label class="fw-bold me-2 {{ label_class }}">{{ label }} :</label>
    <select class="form-select" style="{{ style }}" id="{{ list_id }}">
      {% for value, display in list_options %}
        <option value="{{ value }}">{{ display }}</option>
      {% endfor %}
    </select>
  </div>
{% elif variant == "html_checkbox" %}
  {# show the label with two checkbox, one with the label oui and another with the label non #}
  <div class="d-flex align-items-center mb-2">
    <label for="{{ input_id }}-oui" class="fw-bold {{ label_class }} me-2">{{ input_label }} </label>
    <div id="{{ input_id }}">
      <div class="form-check form-check-inline">
        <label class="d-flex align-items-center gap-2 dynamic-option">
          <input
            name="{{ checkbox_name }}"
            type="checkbox"
            style="{{ style }}"
            class="form-check-input dynamic-check"
            data-field="{{ input_id }}-oui"
            id="{{ input_id }}-oui">
          <span class="fw-bold">Oui</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="d-flex align-items-center gap-2 dynamic-option">
          <input
            name="{{ checkbox_name }}"
            type="checkbox"
            style="{{ style }}"
            class="form-check-input dynamic-check"
            data-field="{{ input_id }}-non"
            id="{{ input_id }}-non">
          <span class="fw-bold">Non</span>
        </label>
      </div>
    </div>
  </div>
{% elif variant == "html_simple_checkbox_list" %}
  {# show only one checkbox with label #}
  <div class="d-flex align-items-center justify-content-center mb-2">
    <div id="{{ list_id }}" class="flex-row gap-3 list-group flex-wrap">
      {% for option in list_options %}
        <label class="d-flex align-items-center gap-2 dynamic-option">
          <input
            type="checkbox"
            name="{{ checkbox_name }}"
            value="{{ option.id }}"
            class="form-check-input dynamic-check"
            data-choice-id="{{ option.id }}"
            data-choice-label="{{ option.name }}"
          >
          <span class="fw-bold">{{ option.name }}</span>
        </label>
      {% endfor %}
      <input type="hidden" name="{{ hidden_name }}" id="{{ option.id }}">
    </div>
  </div>
{% elif variant == "html_list_no_label" %}
  <select class="form-select" style="{{ style }}" id="{{ list_id }}">
    {% for option in list_options %}
      <option value="{{ option.id }}">{{ option.name }}</option>
    {% endfor %}
  </select>
{% else %}
  {{ field }}
{% endif %}
