<tr data-el-id="{{ el.id }}">
  <td class="d-flex ps-0 pe-0" id="immeuble_element_{{ el.id }}">
    <div class="form-check form-check-inline">
      <label class="d-flex align-items-center gap-2 dynamic-option">
        <input
          name="element_{{ el.id }}_statut"
          type="checkbox"
          class="form-check-input dynamic-check"
          value="oui"
          id="element_{{ el.id }}_oui">
        <span class="">Oui</span>
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="d-flex align-items-center gap-2 dynamic-option">
        <input
          name="element_{{ el.id }}_statut"
          type="checkbox"
          class="form-check-input dynamic-check"
          value="non"
          id="element_{{ el.id }}_non">
        <span class="">Non</span>
      </label>
    </div>
  </td>
  <td class="p-0 align-items-center justify-content-center text-start">
    <label class="text-capitalize">{{ el.libelle|capfirst }}</label>
  </td>
  <td class="p-0 align-items-center" style="width: 80px;">
    <input type="number" id="nombre_input_{{ el.id }}" name="nombre_input_{{ el.id }}"
      class="form-control form-control-sm" value="{{ el.nombre_input.value }}">
  </td>
</tr>
