<div class="row" id="elements-collecte-container" data-group-type="element" data-max-items="9">
  {% for group in element_groups %}
    <div class="col-md-4 col-block mb-4">
      <table class="table align-middle text-center">
        <thead class="table-light">
          <tr>
            <th class="p-0">Existence</th>
            <th class="bg-secondary-subtle p-0"></th>
            <th class="p-0">Quantité</th>
          </tr>
        </thead>
        <tbody id="elements-collecte-container-tbody" class="elements-collecte-container-tbody">
          {% for el in group %}
            {% include "baux/widgets/immeuble_element_row.html" with el=el %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>

<script>
  document.addEventListener("change", function (e) {
    if (e.target.classList.contains("statut-checkbox")) {
      const group = e.target.getAttribute("data-group");
      if (e.target.checked) {
        document.querySelectorAll(`.statut-checkbox[data-group='${group}']`).forEach((cb) => {
          if (cb !== e.target) cb.checked = false;
        });
      }
    }
  });
</script>
