<div class="row" id="pieces-collecte-container" data-group-type="piece" data-max-items="9">
  {% for group in piece_groups %}
    <div class="col-md-6 col-block col-lg-4 mb-4">
      <table class="table table-bordered align-middle text-center">
        <thead class="table-light">
          <tr>
            <th class="p-0">Désignation</th>
            <th class="p-0">Quantité</th>
            <th class="p-0">Images</th>
          </tr>
        </thead>
        <tbody id="pieces-collecte-container-tbody" class="pieces-collecte-container-tbody">
          {% for el in group %}
            {% include "baux/widgets/piece_element_row.html" with el=el %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>

<!--script>
  const GROUP_HEADERS = {
  element: `
    <thead class="table-light">
      <tr>
        <th class="p-0">Existence</th>
        <th class="bg-secondary-subtle p-0"></th>
        <th class="p-0">Quantité</th>
      </tr>
    </thead>
  `,
  piece: `
    <thead class="table-light">
      <tr>
        <th class="p-0">Désignation</th>
        <th class="p-0">Quantité</th>
      </tr>
    </thead>
  `
  };
</script-->
