<div class="row" id="elements-collecte-container">
  {% for group in piece_groups %}
    <div class="col-md-6 col-lg-4 mb-4">
      <table class="table table-bordered align-middle text-center">
        <thead class="table-light">
          <tr>
            <th class="p-0">Désignation</th>
            <th class="p-0">Quantité</th>
          </tr>
        </thead>
        <tbody>
          {% for el in group %}
            <tr>
              <td class="d-flex ps-0 pe-0">
                <div class="d-flex form-check p-0 ps-1 form-check-inline">
                  {{ el.statut_input }}
                  <label class="form-check-label ms-1">{{ el.libelle }}</label>
                </div>
              </td>
              <td class="p-0 align-items-center" style="width: 80px;">{{ el.nombre_input }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
