{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Listes des Bailleurs{% endblock %}

{% block content %}
<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">Listes /</span> Bailleurs
</h4>

<div class="card">
  <h5 class="card-header">Table Basic</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>Nom &amp; Prenoms</th>
          <th>NUI</th>
          <th>Date délivrance</th>
          <th>Registre</th>
          <th>Nom &amp; Prenoms responsable</th>
          <th>Telephone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for bailleur in bailleurs %}
          <tr>
            <td>
              {{ bailleur.nom_prenom_bailleur }}
            </td>
            <td>
              {{ bailleur.niu_bailleur }}
            </td>
            <td>
              {{ bailleur.num_cni_bailleur }}
            </td>
            <td>
              {{ bailleur.registre_commerce_bailleur }}
            </td>
            <td>
              {{ bailleur.nom_prenom_responsable }}
            </td>
            <td>
              {{ bailleur.telephone_bailleur }}
            </td>
            <td class="rounded-end-bottom">
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                  <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
