<table class="table table-sm">
    <tr>
        <th>Libellé</th>
        <th>Action</th>
    </tr>
    {% for elementdescription in elementdescriptions %}
        <tr data-id="{{ elementdescription.id }}">
            <td>{{ elementdescription.libelle|default:"-" }}</td>
            <td>
                <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a 
                            class="dropdown-item primary" 
                            href="#"
                            data-bs-target="#create-elementdescription-modal"
                            data-bs-toggle="modal"
                            data-action = "update"
                            data-id="{{ elementdescription.id }}"
                        >
                            <i class="bx bx-edit-alt me-1"></i>Modifier
                        </a>
                        <a href="#" 
                            class="dropdown-item btn-success delete-elementdescription"
                            data-bs-target="#delete-elementdescription-modal-{{ elementdescription.id }}"
                            data-bs-toggle="modal"
                        >
                            <i class="bx bx-trash me-1"></i>Supprimer
                        </a>
                    </div>
                    <!-- delete elementdescription -->
                    <div class="modal fade" id="delete-elementdescription-modal-{{ elementdescription.id }}" tabindex="-1" aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog">
                            <div class="modal-content p-0">
                                <form action="{% url 'baux:elementdescription_delete' elementdescription.id %}" method="post" id="delete-elementdescription-form">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title">Suppression d'un élément de description</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="modal-content-message">
                                            Voulez vous vraiment supprimer : {{ elementdescription }} ?
                                        </div>
                                        <input type="hidden" value="{{ elementdescription.id }}" name="id" id="delete-elementdescription-input-id">
                                    </div>
                                    <div class="modal-footer flex-row-reverse">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-primary">Supprimer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="2" class="text-center">Aucun élément de description trouvé.</td>
        </tr>
    {% endfor %}
</table>