<table class="table table-sm">
    <tr>
        <th>Libellé</th>
        <th>Action</th>
    </tr>
    {% for piece in pieces %}
        <tr data-id="{{ piece.id }}">
            <td>{{ piece.libelle|default:"-" }}</td>
            <td>
                <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a 
                            class="dropdown-item primary" 
                            href="#"
                            data-bs-target="#create-piece-modal"
                            data-bs-toggle="modal"
                            data-action = "update"
                            data-id="{{ piece.id }}"
                        >
                            <i class="bx bx-edit-alt me-1"></i>Modifier
                        </a>
                        <a href="#" 
                            class="dropdown-item btn-success delete-piece"
                            data-bs-target="#delete-piece-modal-{{ piece.id }}"
                            data-bs-toggle="modal"
                        >
                            <i class="bx bx-trash me-1"></i>Supprimer
                        </a>
                    </div>
                    <!-- delete piece -->
                    <div class="modal fade" id="delete-piece-modal-{{ piece.id }}" tabindex="-1" aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog">
                            <div class="modal-content p-0">
                                <form action="{% url 'baux:piece_delete' piece.id %}" method="post" id="delete-piece-form">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title">Suppression d'une pièce à collecter</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="modal-content-message">
                                            Voulez vous vraiment supprimer : {{ piece }} ?
                                        </div>
                                        <input type="hidden" value="{{ piece.id }}" name="id" id="delete-piece-input-id">
                                    </div>
                                    <div class="modal-footer flex-row-reverse">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-primary">Supprimer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="2" class="text-center">Aucune pièce à collecter trouvée.</td>
        </tr>
    {% endfor %}
</table>