{% extends "base.html" %}
{% block page_content %}
    <div class="login-wrap">
        <div class="login-html">
            <!--input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label-->
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Ajouter un nouveau bail</label>
            <div class="login-form">
                <!--div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Structure</label>
                        <input id="user" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Bailleur</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="#forgot">Forgot Password?</a>
                    </div>
                </div-->
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="user" class="label">Structure</label>
                        <input id="user" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Bailleur</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Elément Financier</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Elément Juridique</label>
                        <input id="pass" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Localisation</label>
                        <input id="pass" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Bail</label>
                        <input id="pass" type="text" class="input">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Enregistrer">
                    </div>
                    <div class="hr"></div>
                    <!--div class="foot-lnk">
                        <label for="tab-1">Already Member?</a>
                    </div-->
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}