{# modal component #}
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content p-0">
      <form id="{{ form_id }}" action="{{ form_action }}" method="post" enctype="multipart/form-data">

        <!-- token -->
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">{{ title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          {% include form_template with prefix=modal_id %}
          <!-- block alert message -->
          <div class="alert-block" id="alert-block"></div>
          <input type="hidden" value="" name="id" id="update-id">
        </div>
        <div class="modal-footer flex-row-reverse">
          <button type="submit" id="save-btn" class="btn btn-primary">Enregistrer</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </form>
    </div>
  </div>
</div>
